extends _layout

block head
	title Andy Hanson — Resume
	link(rel='stylesheet' href='./style/resume.css')
	script(src='script/resume.js')

block content
	+sec('skill', 'star')
		table
			tr
				td proficient in
				td #[+links(['javascript', 'typescript', 'coffeescript', 'babel'], 'c♯', 'python', 'ruby', ['html', 'jade'])]
			tr
				td familiar with
				td #[+links(['java', 'scala'], ['css', 'stylus'], 'rails', 'c++', 'c', 'glsl', 'bash', 'sql')]
			tr
				td tools
				td #[+links('linux', 'mac os x', 'windows', 'git', 'github', 'gulp', 'require.js', 'browserify', 'npm', 'bower')]
			tr
				td practice
				td #[+inline('testing', 'linting', 'documenting', 'one-step builds', 'small & pure functions', 'refactoring', 'modularity')]
			tr
				td libraries
				td #[+links('express', 'web components', 'canvas', 'webgl', 'three.js', 'jquery')]

	button#details-toggle Open/close all sections

	+sec('work', 'industry')
		details
			summary
				div.what
					a(href='//faunadb.com') FaunaDB
				div.how Associate Software Engineer
				div.where San Francisco, CA
				div.when #[time June 2015]-#[time January 2016]

			p Work on clients for a new database for #[a(href='//github.com/faunadb/faunadb-python') Python], #[a(href='//github.com/faunadb/faunadb-ruby') Ruby], #[a(href='//github.com/faunadb/faunadb-js') JavaScript], and C♯ (not yet public).
			p Worked on the #[a(href='//faunadb.com') website].
			+used('mac os x', 'python', 'ruby', 'javascript', 'c♯', 'git', 'github', 'rails', 'virtualenv', 'mocha', 'nunit', 'rubocop', 'pylint', 'eslint', 'babel', 'rdoc', 'sphinx-doc', 'esdoc', 'pycharm', 'vscode', 'visual studio', 'xamarin studio', 'slack')

		details
			summary
				div.what
					a(href='//intentsoft.com') IntentSoft
				div.how Software Analyst & Developer
				div.where Bellevue, WA
				div.when #[time July 2014]-#[time March 2015]
			p Worked on a layout system.
			p System takes as input a tree of content nodes (analagous to nodes in an HTML document) and outputs a tree of graphical nodes (which have exact locations).
			p Rewrote part of system that queried content locations to be closer to purely functional.
			p Wrote tests, discovered and fixed bugs, and participated in design and implementation of new features.
			+used('windows', 'c♯', 'visual studio', ['subversion', 'tortoisesvn', 'visualsvn'], 'resharper')

	+sec('school', 'graduation-cap')
		details
			summary
				div.what
					a(href='//rpi.edu') Rensselaer
				div.how GPA: 3.94/4.0
				div.where Troy, NY
				div.when #[time 2012]-#[time 2014]

			p No degree. Planning to use a community college to fill in missing credits.

			h3 Selected courses
			+inline(
				'advanced computer graphics',
				'computational physics',
				'database systems',
				'language endowed intelligent agents',
				'intermediate logic',
				'computability & complexity')

		details
			summary
				div.what
					a(href='//www.digipen.edu') Digipen
				div.how GPA: 3.49/4.0
				div.where Redmond, WA
				div.when #[time 2011]-#[time 2012]

			p Made one game in ProjectFUN on a team of 3.
			p Responsible for program, sound, and some graphics.

			h3 Selected courses
			+inline(
				'discrete mathematics',
				'waves, optics and thermodynamics',
				'probability and statistics',
				'modern physics')

	+sec('code', 'code')
		- function my(name) { return `//github.com/andy-hanson/${name}` }
		mixin links(project, links)
			ul.inline
				for link in links
					li
						a(href="//github.com/#{project}/#{link[1]}")= link[0]

		details
			summary
				div.what
					a(href='//mason-lang.org') mason
				div.when #[time 2014]-
			p New language compiling to JavaScript.
			p Example projects #[a(href='games') here].
			p
				+links('mason-lang', [
					['compiler', 'mason-compile'],
					['standard library', 'msl'],
					['syntax highlighter', 'mason-atom'],
					['character codes', 'typescript-char']
				])
			+used('typescript', 'mocha', 'tslint', 'gulp', 'broccoli', 'codemirror', 'web components', 'bower', 'require.js')

		details
			summary
				div.what
					a(href='//dum-build.org') dum
				div.when #[time 2015]-
			p Simple build system. No build script necessary.
			p Instead of specialized plugins, uses #[+lk('jstransformers')].
			p Completely asynchronous.
			p Written in Mason.
			p
				+links('dum-build', [
					['engine', 'dum'],
					['web template', 'dum-web-template'],
					['library template', 'dum-library-template'],
					['noise maker', 'machine-that-goes-bing']
				])
			+used('node', 'jstransformers')

		details
			summary
				div.what
					a(href='//github.com/esast') esast
				div.when #[time 2015]-
			p Type-safe (via #[+lk('typescript')]) JavaScript AST.
			p Used by Mason.
			p
				+links('esast', [
					['tree', 'esast'],
					['util', 'esast-create-util'],
					['convert from untyped', 'esast-from-json'],
					['render', 'esast-render-fast'],
					['option type', 'op']
				])
			+used('typescript', 'mocha', 'tslint', 'source maps')

		details
			summary
				div.what
					a(href='//github.com/ScottTodd/PainterlyRendering') painterly rendering
				div.when #[time spring 2014]
			p Team of 2.
			p Real-time WebGL, with HTML UI to modify renderer properties.
			p.
				Renders a 3D particle system of brush stroke sprites which
				orient and curve along edges of objects and around centers of light.
			+used('webgl', 'glsl', 'three.js', 'jquery')

		details
			summary
				div.what
					a(href="#{my('logic-online')}") logic online
				div.when #[time spring 2014]
			p Deduction language (shared by server and client) and exercises to learn it.
			p Inference and equality rules are asserted or proved within the language.
			p Exercises are stored as YAML files.
			+used('codemirror', 'express', 'browserify', 'coffeescript', 'codo')

		details
			summary
				div.what
					a(href='//github.com/jcarrelli/csci-4440-polo-jeans') polo jeans game engine
				div.when #[time fall 2013]
			p Team of 4.
			p 2D game engine written in #[+lk('webgl')].
			p Lead meetings; worked on architechture, build system, and media; wrote GameObject scripting, including multiple inheritance.
			+used('webgl', 'require.js', 'jquery', 'cake', 'jasmine', 'naturaldocs')

		details
			summary
				div.what english parser
				div.when #[time fall 2013]
			p Team of 6.
			p A restaurant-recommending-robot. Users use typed english sentences to get information about local food.
			p Wrote text to dependency grammar part of pileline.
			p Wrote onomasticon and lexicon as JSON data.
			+used('scala')

		details
			summary
				div.what
					a(href='//sahas3.myrpi.org/pendulum/game.php') ghost control
				div.when #[time summer 2013]
			p Worked for control systems researchers.
			p Web game that tracks user and saves/loads ghost data from server.
			+used('canvas', 'coffeescript', 'php', 'scala')

		details
			summary
				div.what
					a(href="#{my('wahoo')}") wahoo game engine
				div.when #[time fall 2012]
			p 2D game engine featuring dynamic lighting, loose quadtree collision detection, and type-based (via reflection), state-based GameObject scripting.
			+used('scala', 'lwjgl')

		details
			summary
				div.what games
				div.when #[time 2009]-#[time 2013]

			p #[a(href='games') Web games]

			p Older desktop-based games:
			ul
				li
					a(href="#{my('mangos-caffeinated-hilarity')}") mango's caffeinated hilarity (java applet)
				li #[a(href="#{my('monis')}") monis (pygame)]
				li #[a(href="#{my('monis-xtreme')}") monis xtreme (pygame)]
				li #[a(href="#{my('snake')}") snake (pygame)]
				li many more...

			p Many small games.
			p One game in OpenGL, one in OGRE, both with PyGame.
			p Unfinished game in Scala engine.
			+used('applet', 'pygame', 'ogre', 'canvas', 'scala', 'lwjgl')
