extends _layout

block head
	title Andy Hanson — Resume
	link(rel='stylesheet' href='./style/resume.css')
	script(src='script/resume.js')

block content
	.head
		div
			a(href='//github.com/andy-hanson/pdf-resume/raw/master/LaTeX/Andy-Hanson.pdf') View as PDF (outdated)
		address
			div Redmond, WA
			.part #[a(href='tel:7034022284') (703) 402-2284]
			.part #[a(href='mailto:andy.pj.hanson@gmail.com') andy.pj.hanson@gmail.com]
		div
			button#details-toggle Open/close all sections

	+sec('skill', 'star')
		table
			tr
				td proficient in
				td #[+links(['javascript', 'typescript', 'coffeescript', 'babel'])]
			tr
				td familiar with
				td #[+links(['java', 'kotlin', 'scala'], 'c♯', ['html', 'pug'], ['css', 'stylus'])]
			tr
				td tools
				td #[+links('git', 'github', 'gulp', 'require.js', 'browserify', 'npm', 'bower')]
			tr
				td practices
				td #[+inline('testing', 'linting', 'documenting', 'small & pure functions', 'refactoring', 'modularity')]

	+sec('work', 'industry')
		details
			summary
				div.what
					a(href='//github.com/Microsoft/TypeScript') Microsoft
				div.how Software Engineer II
				div.where Redmond, WA
				div.when #[time May 2016]-

			p Work on the #[+lk('typescript')] compiler and services.
			p Also working on #[a(href='//github.com/DefinitelyTyped/DefinitelyTyped') DefinitelyTyped] and #[a(href='//github.com/Microsoft/types-publisher') types-publisher].
			p I occasionally contribute to #[+lk('tslint')].
			+used('typescript', 'github', 'azure')

		details
			summary
				div.what
					a(href='//faunadb.com') FaunaDB
				div.how Associate Software Engineer
				div.where San Francisco, CA
				div.when #[time Jun 2015]-#[time Jan 2016]

			p Worked on clients for a new database for #[a(href='//github.com/faunadb/faunadb-python') python], #[a(href='//github.com/faunadb/faunadb-ruby') ruby], #[a(href='//github.com/faunadb/faunadb-js') javascript], and c♯ (not yet public).
			p Clients include REST client, error handling, (de)serialization, query language, and ORM, with tests and documentation. C♯ and javascript clients are asynchronous.
			p Worked on the #[a(href='//faunadb.com') website], a #[+lk('rails')] application built with FaunaDB. Work was mostly server-side.
			+used('mac os x', 'python', 'ruby', 'javascript', 'c♯', 'git', 'github', 'rails', 'virtualenv', 'mocha', 'nunit', 'rubocop', 'pylint', 'eslint', 'babel', 'rdoc', 'sphinx-doc', 'esdoc', 'pycharm', 'vscode', 'visual studio', 'xamarin studio', 'slack', 'ansible')

		details
			summary
				div.what
					a(href='//intentsoft.com') IntentSoft
				div.how Software Analyst & Developer
				div.where Bellevue, WA
				div.when #[time Jul 2014]-#[time Mar 2015]
			p Worked on a layout system. System takes as input a tree of content nodes (analagous to #[+lk('DOM')] nodes) and outputs a tree of graphical nodes (which have exact locations).
			p Rewrote part of system that queried content locations to be closer to purely functional.
			p Wrote tests, discovered and fixed bugs, and participated in design and implementation of new features.
			+used('windows', 'c♯', 'visual studio', ['subversion', 'tortoisesvn', 'visualsvn'], 'resharper')

	+sec('school', 'graduation-cap')
		details
			summary
				div.what
					a(href='//rpi.edu' title='Rensselaer Polytechnic Institute') Rensselaer
				div.how GPA: 3.94/4.0
				div.where Troy, NY
				div.when #[time 2012]-#[time 2014]

			p Pending Bachelor of Science in Computer Science.

			h3 Selected courses
			+inline(
				'advanced computer graphics',
				'computational physics',
				'database systems',
				'language endowed intelligent agents',
				'intermediate logic',
				'computability & complexity')

		details
			summary
				div.what
					a(href='//www.digipen.edu' title='Digipen institute of Technology') Digipen
				div.how GPA: 3.49/4.0
				div.where Redmond, WA
				div.when #[time 2011]-#[time 2012]

			p Made one game in ProjectFUN on a team of 3.
			p Responsible for program, sound, and some graphics.

			h3 Selected courses
			+inline(
				'discrete mathematics',
				'waves, optics and thermodynamics',
				'probability and statistics',
				'modern physics')

	+sec('code', 'code')
		- function my(name) { return `//github.com/andy-hanson/${name}` }
		mixin links(project, links)
			ul.inline
				for link in links
					li
						a(href=`//github.com/${project}/${link[1]}`)= link[0]

		details
			summary
				.what
					a(href=my('tsut')) tsut
				.type utilities library
				.when #[time 2016]
			p Utilities for using typescript.
			+used('typescript', 'tslint')

		details
			summary
				.what
					a(href='//ageofem.com') ageofem.com
				.type website
				.when #[time 2015-2016]
			p Website for the book #[i The Age of Em].
			+used('dum', 'pug', 'stylus')

		details
			summary
				.what
					a(href='//mason-lang.github.io') mason
				.type programming language
				.when #[time 2014]-#[time 2015]
			p.
				New language compiling to javascript.
				Language tour #[a(href='//mason-lang.github.io/tour') here].
			p Example project #[a(href='//github.com/andy-hanson/thrifty-threesome-thriller') here].
			p
				+links('mason-lang', [
					['compiler', 'mason-compile'],
					['standard library', 'msl'],
					['syntax highlighter', 'mason-atom'],
					['character codes', 'typescript-char']
				])
			+used('typescript', 'mocha', 'tslint', 'gulp', 'broccoli', 'codemirror', 'web components', 'bower', 'require.js')

		details
			summary
				.what
					a(href='//github.com/esast') esast
				.type javascript AST
				.when #[time 2015]-
			p JavaScript AST, made type-safe with #[+lk('typescript')].
			p Renders to javascript code with #[+lk('source maps')].
			p Used by Mason.
			p
				+links('esast', [
					['tree', 'esast'],
					['util', 'esast-create-util'],
					['convert from untyped', 'esast-from-json'],
					['render', 'esast-render-fast'],
					['option type', 'op']
				])
			+used('typescript', 'mocha', 'tslint', 'source maps')

		details
			summary
				.what
					a(href='//dum-build.github.io') dum
				.type build system
				.when #[time 2015]-
			p Simple build system: translates files from e.g. #[+lk('pug')] to html, or #[+lk('coffeescript')] to javascript. No build script necessary.
			p Instead of specialized plugins, uses #[+lk('jstransformers')].
			p Completely asynchronous. Written in Mason. Used for this site.
			p
				+links('dum-build', [
					['engine', 'dum'],
					['web template', 'dum-web-template'],
					['library template', 'dum-library-template'],
					['noise maker', 'machine-that-goes-bing']
				])
			+used('node', 'jstransformers')

		details
			summary
				.what
					a(href='//github.com/ScottTodd/PainterlyRendering') painterly rendering
				.type webgl rendering experiment
				.when #[time spring 2014]
			p Team of 2.
			p Real-time #[+lk('webgl')], with HTML UI to modify renderer properties.
			p.
				Renders a 3D particle system of brush stroke sprites which
				orient and curve along edges of objects and around centers of light.
			+used('webgl', 'glsl', 'three.js', 'jquery')

		details
			summary
				.what
					a(href=my('logic-online')) logic online
				.type online logic practice
				.when #[time spring 2014]
			p Deduction language (shared by server and client) and exercises to learn it.
			p Inference and equality rules are asserted or proved within the language.
			p Exercises are stored as YAML files.
			+used('codemirror', 'express', 'browserify', 'coffeescript', 'codo')

		details
			summary
				.what
					a(href='//github.com/jcarrelli/csci-4440-polo-jeans') polo jeans
				.type webgl 2D game engine
				.when #[time fall 2013]
			p Team of 4.
			p Lead meetings; worked on architechture, build system, and media; wrote GameObject scripting, including multiple inheritance.
			+used('webgl', 'require.js', 'jquery', 'cake', 'jasmine', 'naturaldocs')

		details
			summary
				.what LEIA
				.type natural language dependency grammar parser
				.when #[time fall 2013]
			p Team of 6.
			p A restaurant-recommending robot. Users write English sentences to ask for information about local food.
			p Wrote text to dependency grammar part of pipeline.
			p Wrote onomasticon and lexicon as JSON data.
			+used('scala')

		details
			summary
				.what
					a(href='//sahas3.myrpi.org/pendulum/game.php') ghost control
				.type control systems research video game
				.when #[time summer 2013]
			p Worked for control systems researchers.
			p Web game that tracks user and saves/loads ghost data from server.
			+used('canvas', 'coffeescript', 'php', 'scala')

		details
			summary
				.what
					a(href=my('wahoo')) wahoo
				.type scala 2D game engine
				.when #[time fall 2012]
			p Features: dynamic lighting, loose quadtree collision detection, and type-based (via reflection), state-based GameObject scripting.
			+used('scala', 'lwjgl')

		details
			summary
				.what games
				.when #[time 2009]-#[time 2013]

			p #[a(href='games') Web games]

			p Older desktop-based games:
			ul
				li
					a(href=my('mangos-caffeinated-hilarity')) mango's caffeinated hilarity (java applet)
				li #[a(href=my('monis')) monis (pygame)]
				li #[a(href=my('monis-xtreme')) monis xtreme (pygame)]
				li #[a(href=my('snake')) snake (pygame)]
				li many more...

			p Many small games.
			p One game in #[+lk('opengl')], one in #[+lk('ogre')], many with #[+lk('pygame')].
			p Unfinished game written with Wahoo.
			+used('applet', 'pygame', 'ogre', 'canvas', 'scala', 'lwjgl')
